	<div class="">
		<!-- Header Start -->
		<nav class="navbar navbar-expand-lg px-5">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="">
				<a class="navbar-brand" href="#">
					<img class="img-fluid" src="/{{directory}}/img/logo.png" alt="Troovali" width="200">
				</a>
			</div>
			<div class="collapse navbar-collapse ms-2 justify-content-between" id="navbarTogglerDemo01">
				<ul class="navbar-nav mb-2 mb-lg-0 justify-content-around col-5">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#">OFFRES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">MES ANNONCES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">BOUTIQUES</a>
					</li>
				</ul>
				<div class="col-5 row mb-2 mb-lg-0 justify-content-end">
					<ul class="navbar-nav mb-2 mb-lg-0 justify-content-end align-items-center text-nowrap">
						<li class="nav-item">
							<div class="d-flex align-items-center">
								<i class='bx bx-user-plus bx-md'></i>
								<a class="text-black text-center d-flex flex-column" href="#">
									<small>Sign / Login</small>
									<small>ACCOUNT</small>
								</a>
							</div>
						</li>
						<li class="mx-4"></li>
						<li class="nav-item">
							<a class="nav-link annonce-badge" aria-current="page" href="#">POSTER UNE ANNONCE</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Header End -->

		<!-- Section Start -->
		<div class="row px-5">
			<div class="col-md-3">
				<form class="search-form px-0 fs-15justify-content-center">
					<div class="d-flex bg-grey rounded m-auto">
						<button class="px-3" type="submit"><i class='bx bx-search bx-rotate-90 fw-bold' ></i></button>
						<input class="py-2 px-4 w-100" type="text" placeholder="Recherche ..." name="search2">
					</div>
					<div class="form-check mt-3 d-flex">
						<input class="form-check-input float-none" type="checkbox" value="" id="check1">
						<label class="form-check-label" for="check1">
							Annonces urgentes uniquement
						</label>
					</div>
					<div class="form-check mt-1">
						<input class="form-check-input float-none" type="checkbox" value="" id="check2" >
						<label class="form-check-label" for="check2">
							Recherche dans le titre uniquement
						</label>
					</div>
					<div class="row justify-content-center">
						<ul class="col-6 col-md-12 pt-3">
							<li>
								<i class='bx bx-list-ul'></i> Trier annonce par site <i class='bx bxs-right-arrow'></i>
							</li>
							<li>
								<i class='bx bx-briefcase'></i> Emplois <i class='bx bxs-right-arrow'></i>
							</li>
							<li>
								<i class='bx bx-car' ></i> Vehicules <i class='bx bxs-right-arrow'></i>
							</li>
							<li>
								<i class='bx bx-building-house'></i> Immobilier <i class='bx bxs-right-arrow'></i>
							</li>
							<li>
								<i class='bx bxs-plane-alt'></i> Vacance <i class='bx bxs-right-arrow'></i>
							</li>
							<li>
								<i class='bx bxs-videos'></i>Multimedia <i class='bx bxs-right-arrow'></i>
							</li>
							<li>
								<i class='bx bx-football'></i> Loisir <i class='bx bxs-right-arrow'></i>
							</li>
							<li>
								<i class='bx bx-library'></i>Matériel professionnel <i class='bx bxs-right-arrow'></i>
							</li>
							<li>
								<i class='bx bx-refresh'></i>Services <i class='bx bxs-right-arrow'></i>
							</li>
							<li>
								<i class='bx bxs-home'></i>Maison <i class='bx bxs-right-arrow'></i>
							</li>
						</ul>
						<div class="item col-6 col-md-9 text-center bg-white py-3">
							<span class="text-red fw-bold">Annonce à la une</span>
							<div class="img text-end p-2 m-auto" style="background:url('img/trot.jpeg'); background-size: cover;">
								<i class="fa-solid fa-heart text-white"></i>
							</div>
							<div class="detail mt-3">
								<span class="d-block fw-500">Trotinette</span>
								<small>
									<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
									<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
									<span class="text-red fs-5">£ 330.25</span>
								</small>
							</div>
						</div>
						<div class="d-none d-md-block item col-6 col-md-9 text-center bg-white py-3">
							<span class="text-red fw-bold">Annonce à la une</span>
							<div class="img text-end p-2 m-auto" style="background:url('img/trot.jpeg'); background-size: cover;">
								<i class="fa-solid fa-heart text-white"></i>
							</div>
							<div class="detail mt-3">
								<span class="d-block fw-500">Trotinette</span>
								<small>
									<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
									<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
									<span class="text-red fs-5">£ 330.25</span>
								</small>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="col">
				<div class="row py-2 bg-white">
					<div class="col-8 col-md-6 ps-0 d-flex justify-content-around">
						<span class="active fw-bold text-red m-auto">Toutes</span>
						<span class=" m-auto">Professionnels</span>
						<span class=" m-auto">Particuliers</span>
					</div>
					<div class="col-4 col-md-6 px-3 text-end">
						<button class="btn-grey">Ranger par <i class="fa-solid fa-caret-right"></i></button>
					</div>
					<hr class="my-2">
				</div>
				<div class="row pe-0 ps-3 pb-3 bg-white">
					<div class="item col-6 col-md-3">
						<div class="img text-end p-2" style="background:url('img/phone.jpeg'); background-size: cover;">
							<i class="fa-solid fa-heart text-white"></i>
						</div>
						<div class="detail mt-3">
							<span class="d-block fw-500">Mobile phone</span>
							<small>
								<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
								<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
								<span class="text-red fs-5">£ 330.25</span>
							</small>
						</div>
					</div>
					<div class="item col-6 col-md-3">
						<div class="img text-end p-2" style="background:url('img/laptop.jpeg'); background-size: cover;">
							<i class="fa-solid fa-heart text-red"></i>
						</div>
						<div class="detail mt-3">
							<span class="d-block fw-500">Laptop</span>
							<small>
								<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
								<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
								<span class="text-red fs-5">£ 330.25</span>
							</small>
						</div>
					</div>
					<div class="item col-6 col-md-3">
						<div class="img text-end p-2" style="background:url('img/bike.jpeg'); background-size: cover;">
							<i class="fa-solid fa-heart text-white"></i>
						</div>
						<div class="detail mt-3">
							<span class="d-block fw-500">Bicyclette</span>
							<small>
								<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
								<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
								<span class="text-red fs-5">£ 330.25</span>
							</small>
						</div>
					</div>
					<div class="item col-6 col-md-3">
						<div class="img text-end p-2" style="background:url('img/trot.jpeg'); background-size: cover;">
							<i class="fa-solid fa-heart text-white"></i>
						</div>
						<div class="detail mt-3">
							<span class="d-block fw-500">Trotinette</span>
							<small>
								<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
								<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
								<span class="text-red fs-5">£ 330.25</span>
							</small>
						</div>
					</div>

					<div class="item col-6 col-md-3">
						<div class="img text-end p-2" style="background:url('img/phone.jpeg'); background-size: cover;">
							<i class="fa-solid fa-heart text-white"></i>
						</div>
						<div class="detail mt-3">
							<span class="d-block fw-500">Mobile phone</span>
							<small>
								<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
								<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
								<span class="text-red fs-5">£ 330.25</span>
							</small>
						</div>
					</div>
					<div class="item col-6 col-md-3">
						<div class="img text-end p-2" style="background:url('img/laptop.jpeg'); background-size: cover;">
							<i class="fa-solid fa-heart text-red"></i>
						</div>
						<div class="detail mt-3">
							<span class="d-block fw-500">Laptop</span>
							<small>
								<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
								<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
								<span class="text-red fs-5">£ 330.25</span>
							</small>
						</div>
					</div>
					<div class="item col-6 col-md-3">
						<div class="img text-end p-2" style="background:url('img/bike.jpeg'); background-size: cover;">
							<i class="fa-solid fa-heart text-white"></i>
						</div>
						<div class="detail mt-3">
							<span class="d-block fw-500">Bicyclette</span>
							<small>
								<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
								<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
								<span class="text-red fs-5">£ 330.25</span>
							</small>
						</div>
					</div>
					<div class="item col-6 col-md-3">
						<div class="img text-end p-2" style="background:url('img/trot.jpeg'); background-size: cover;">
							<i class="fa-solid fa-heart text-white"></i>
						</div>
						<div class="detail mt-3">
							<span class="d-block fw-500">Trotinette</span>
							<small>
								<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
								<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
								<span class="text-red fs-5">£ 330.25</span>
							</small>
						</div>
					</div>

					<div class="item col-6 col-md-3">
						<div class="img text-end p-2" style="background:url('img/phone.jpeg'); background-size: cover;">
							<i class="fa-solid fa-heart text-white"></i>
						</div>
						<div class="detail mt-3">
							<span class="d-block fw-500">Mobile phone</span>
							<small>
								<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
								<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
								<span class="text-red fs-5">£ 330.25</span>
							</small>
						</div>
					</div>
					<div class="item col-6 col-md-3">
						<div class="img text-end p-2" style="background:url('img/laptop.jpeg'); background-size: cover;">
							<i class="fa-solid fa-heart text-red"></i>
						</div>
						<div class="detail mt-3">
							<span class="d-block fw-500">Laptop</span>
							<small>
								<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
								<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
								<span class="text-red fs-5">£ 330.25</span>
							</small>
						</div>
					</div>
					<div class="item col-6 col-md-3">
						<div class="img text-end p-2" style="background:url('img/bike.jpeg'); background-size: cover;">
							<i class="fa-solid fa-heart text-white"></i>
						</div>
						<div class="detail mt-3">
							<span class="d-block fw-500">Bicyclette</span>
							<small>
								<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
								<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
								<span class="text-red fs-5">£ 330.25</span>
							</small>
						</div>
					</div>
					<div class="item col-6 col-md-3">
						<div class="img text-end p-2" style="background:url('img/trot.jpeg'); background-size: cover;">
							<i class="fa-solid fa-heart text-white"></i>
						</div>
						<div class="detail mt-3">
							<span class="d-block fw-500">Trotinette</span>
							<small>
								<i class="fa-regular fa-clock"></i> 09-10-24 10:34 <br>
								<i class="fa-solid fa-location-dot"></i> 9780 Saint Paul <br>
								<span class="text-red fs-5">£ 330.25</span>
							</small>
						</div>
					</div>
				</div>

				<div class="row justify-content-center py-3">
					<div class="d-flex justify-content-around col-4 fs-5">
						<span><i class="fa-solid fa-caret-left"></i></span>
						<span>1</span>
						<span class="text-red fw-500">2</span>
						<span>3</span>
						<span>4</span>
						<span>...</span>
						<span><i class="fa-solid fa-caret-right"></i></span>
					</div>
				</div>

				<div class="row bg-white text-center mb-1 p-4">
					<h2 class="fw-bold">Vous souhaitez passer une annoce?</h2>
					<p class="fw-normal">Mettez votre annonce gratuitement sur Troovali.fr . C’est plus simple que vous le pensez !</p>
					<button class="bg-red border-0 rounded text-white p-1 fw-500 w-auto m-auto">POSTER UNE ANNONCE</button>
				</div>
			</div>
		</div>
		<!-- Section End -->


	</div>

	<!-- Footer -->
	<footer class="p-5">
		<div class="row p-4">
			<div class="col-md-3 mb-4">
				<h5>A propos</h5>
				<a href="#">Qui sommess-nous?</a><br>
				<a href="#">Nous rejoindre</a><br>
				<a href="#">Mention Légales</a>
			</div>		
			<div class="col-md-3 mb-4">
				<h5>Informations Légales</h5>
				<a href="#">CGU</a><br>
				<a href="#">Règles de diffusion</a><br>
				<a href="#">Mention Légales</a><br>
				<a href="#">Vie privée / Cookies</a>
			</div>
			<div class="col-md-3 mb-4">
				<h5>Professionnel</h5>
				<a href="#">Publicités</a><br>
				<a href="#">Immobilier</a><br>
				<a href="#">Recrutements</a><br>
			</div>	
			<div class="col-md-3 mb-4">
				<h5>Des questions?</h5>
				<a href="#">Aide</a><br>
				<a href="#">Nous contacter</a><br>
				<i class="fa-solid fa-envelope fa-2x text-red me-1"></i>
				<i class="fa-brands fa-square-whatsapp fa-2x text-red me-1"></i>
			</div>
			<hr class="mt-5">
		</div>
	</footer>
	<div class="copyright">
		
	</div>
	<!-- Footer End -->