		<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<div class="bg-white">
		<!-- Header Start -->
		<nav class="navbar navbar-expand-lg px-5">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="">
				<a class="navbar-brand" href="#">
					<img class="img-fluid" src="/{{directory}}/img/logo.png" alt="Troovali" width="200">
				</a>
			</div>
			<div class="collapse navbar-collapse ms-2 justify-content-between" id="navbarTogglerDemo01">
				<ul class="navbar-nav mb-2 mb-lg-0 justify-content-around col-5">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#">OFFRES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">MES ANNONCES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">BOUTIQUES</a>
					</li>
				</ul>
				<div class="col-5 row mb-2 mb-lg-0 justify-content-end">
					<ul class="navbar-nav mb-2 mb-lg-0 justify-content-end align-items-center text-nowrap">
						<li class="nav-item">
							<div class="d-flex align-items-center">
								<i class='bx bx-user-plus bx-md'></i>
								<a class="text-black text-center d-flex flex-column" href="#">
									<small>Sign / Login</small>
									<small>ACCOUNT</small>
								</a>
							</div>
						</li>
						<li class="mx-4"></li>
						<li class="nav-item">
							<a class="nav-link annonce-badge" aria-current="page" href="#">POSTER UNE ANNONCE</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Header End -->

		<!-- Section Start -->
		<div class="row my-5 px-5 justify-content-around fs-15">
			<div class="row col-md-5 align-items-center px-0">
				<form class="search-form col-md-6 px-0">
					<div class="d-flex bg-grey rounded">
						<button class="px-3" type="submit"><i class='bx bx-search bx-rotate-90 fw-bold' ></i></button>
						<input class="py-2 px-4 w-100" type="text" placeholder="Recherche ..." name="search2">
					</div>
					<div class="form-check mt-3">
						<input class="form-check-input" type="checkbox" value="" id="check1">
						<label class="form-check-label" for="check1">
							Annonces urgentes uniquement
						</label>
					</div>
					<div class="form-check mt-1">
						<input class="form-check-input" type="checkbox" value="" id="check2" >
						<label class="form-check-label" for="check2">
							Recherche dans le titre uniquement
						</label>
					</div>
					<ul class="pt-3">
						<li>
							<i class='bx bx-list-ul'></i> Trier annonce par site <i class='bx bxs-right-arrow'></i>
						</li>
						<li>
							<i class='bx bx-briefcase'></i> Emplois <i class='bx bxs-right-arrow'></i>
						</li>
						<li>
							<i class='bx bx-car' ></i> Vehicules <i class='bx bxs-right-arrow'></i>
						</li>
						<li>
							<i class='bx bx-building-house'></i> Immobilier <i class='bx bxs-right-arrow'></i>
						</li>
						<li>
							<i class='bx bxs-plane-alt'></i> Vacance <i class='bx bxs-right-arrow'></i>
						</li>
						<li>
							<i class='bx bxs-videos'></i>Multimedia <i class='bx bxs-right-arrow'></i>
						</li>
						<li>
							<i class='bx bx-football'></i> Loisir <i class='bx bxs-right-arrow'></i>
						</li>
						<li>
							<i class='bx bx-library'></i>Matériel professionnel <i class='bx bxs-right-arrow'></i>
						</li>
						<li>
							<i class='bx bx-refresh'></i>Services <i class='bx bxs-right-arrow'></i>
						</li>
						<li>
							<i class='bx bxs-home'></i>Maison <i class='bx bxs-right-arrow'></i>
						</li>
					</ul>

				</form>
				<div class="col-md-6 px-3">
					<div class="badge-annonce d-flex align-items-center ps-3 py-auto mt-4">
						<i class="fa-solid fa-magnifying-glass text-red me-2 fa-xl"></i> Voir tout les annonces
					</div>	
					<div class="badge-annonce d-flex align-items-center ps-3 py-auto  mt-4">
						<i class="fa-solid text-red fa-users me-2 fa-xl"></i>Conntacter les annonceurs pro
					</div>
					<div class="badge-annonce d-flex align-items-center ps-3 py-auto  mt-4">
						<i class="fa-solid fa-lightbulb text-red me-2 ms-1 fa-xl"></i> Rejoindre la communauté
					</div>
				</div>
			</div>
			<div class="col-md-6 bg-img px-0">
				<div class="layer d-flex justify-content-center align-items-center h-100">
					<svg width="321" height="286" viewBox="0 0 321 286" fill="none" xmlns="http://www.w3.org/2000/svg">
						<a href="#"><path class="path" d="M124.454 74.8235C121.924 70.6161 116.284 64.0325 109.792 62.3545C106.04 61.3546 102.185 60.7895 98.303 60.6703C98.303 60.6703 100.293 49.4934 100.061 46.9886C99.8279 44.4837 93.8445 39.2107 92.9809 38.1941C92.1174 37.1774 92.2827 34.9482 91.8112 31.8616C91.3396 28.7749 87.9039 23.8081 86.1829 21.5054C84.997 19.9074 84.2306 18.0376 83.9537 16.067C83.8373 15.2463 83.6781 13.9602 84.4988 13.7214C85.3194 13.4825 89.3492 10.9103 91.2661 8.99341C93.183 7.07651 95.5531 4.61454 102.719 3.5979C109.884 2.58127 116.125 4.21033 117.062 3.5979C117.999 2.98547 120.387 -0.389019 122.929 1.64425C125.47 3.67752 129.182 6.80703 131.019 7.66443C132.856 8.52183 137.584 8.20951 138.368 8.52185C139.152 8.83419 144.039 8.9138 145.013 8.13601C145.987 7.35823 147.518 6.02312 149.704 6.80703C151.891 7.59094 154.046 8.2095 156.441 9.73445C158.836 11.2594 170.361 13.8377 172.664 13.6846C174.967 13.5315 175.445 11.8106 176.774 11.6514C178.103 11.4921 180.289 12.0801 181.502 12.472C182.714 12.864 183.804 11.7677 185.372 12.9803C186.94 14.1929 189.984 14.2726 191.741 14.0337C193.499 13.7949 194.559 13.4213 196.641 15.1728C198.723 16.9244 203.016 20.3662 207.707 21.2971C212.399 22.228 213.881 22.1178 213.881 22.1178C213.442 23.9604 213.246 25.8526 213.299 27.746C213.495 30.1957 215.957 31.6533 217.482 32.2413C219.007 32.8292 223.19 35.7566 222.014 37.1407C220.838 38.5248 218.952 39.8354 217.727 41.6727C216.502 43.51 215.577 45.3105 212.827 44.7348C210.078 44.1591 208.877 44.349 206.654 47.356C204.431 50.3631 202.367 50.6815 199.617 51.5022C196.867 52.3228 190.118 59.672 187.301 63.267C184.484 66.8619 180.105 71.1245 175.849 72.729C171.592 74.3336 169.112 73.0781 166.895 72.9985C164.678 72.9189 161.15 73.6109 159.858 74.2907C158.566 74.9705 156.968 75.191 156.184 73.4701C155.4 71.7491 153.918 69.5628 147.861 70.4569C141.804 71.3511 134.681 75.1114 132.691 75.5829C130.7 76.0545 129.408 75.8524 128.82 76.0116C128.232 76.1709 127.461 79.8271 124.454 74.8235Z" fill="white" stroke="black"/></a>
						<a href="#"><path class="path" d="M128.563 77.7755C129.004 77.3529 130.443 77.8122 132.434 77.3468C134.424 76.8813 141.54 73.121 147.603 72.2268C153.667 71.3327 155.149 73.513 155.926 75.2339C156.704 76.9548 158.315 76.7221 159.601 76.0545C160.887 75.387 164.451 74.6888 166.638 74.7623C168.824 74.8358 171.329 76.0913 175.592 74.4928C179.854 72.8944 184.233 68.6258 187.044 65.0308C189.855 61.4358 196.622 54.0867 199.36 53.266C202.098 52.4453 204.168 52.133 206.397 49.1199C208.626 46.1067 209.796 45.9536 212.57 46.5048C215.344 47.056 216.324 45.2493 217.5 43.412C218.676 41.5747 220.562 40.2457 221.757 38.88C222.477 38.2707 223.097 37.5514 223.594 36.7488C224.01 35.8363 223.147 33.7234 220.832 32.0024C218.517 30.2815 215.277 30.1651 215.197 27.6787C215.116 25.9216 215.169 24.1607 215.357 22.4118C215.485 21.6585 216.477 22.1791 217.31 22.4118C221.742 23.422 225.861 25.4991 229.308 28.4626C234.624 33.1232 234.863 35.3157 239.107 39.5598C243.351 43.804 245.966 46.1557 248.385 53.6886C250.804 61.2215 250.473 69.6118 249.714 71.9023C248.955 74.1928 250.939 79.3555 251.802 80.5804C252.666 81.8053 252.115 84.5979 254.326 86.2393C256.536 87.8806 259.439 88.8972 261.13 90.5263C262.82 92.1553 264.884 97.5876 266.733 97.5386C268.583 97.4896 267.775 98.6838 266.893 100.092C266.011 101.501 264.884 104.183 267.542 106.425C270.2 108.666 270.72 109.757 273.054 113.486C275.387 117.216 276.808 116.248 278.474 118.386C280.14 120.523 282.332 125.208 282.644 126.096C282.957 126.984 284.335 126.513 285.664 127.897C286.993 129.281 289.73 134.517 290.771 137.2C291.812 139.882 295.126 140.262 296.093 139.386C297.061 138.51 299.113 138.945 301.875 141.836C304.637 144.726 305.237 146.123 308.446 146.735C311.655 147.348 315.581 149.656 315.581 149.656C315.581 149.656 314.968 152.314 316.157 154.348C317.345 156.381 318.606 158.592 319.39 158.831C320.174 159.069 320.199 160.705 319.702 161.85C319.206 162.995 318.998 167.196 319.751 168.421C320.505 169.646 320.927 172.794 317.406 173.602C313.884 174.411 312.715 176.083 313.29 176.861C313.866 177.638 315.869 178.606 316.108 180.247C316.346 181.889 313.554 184.106 311.257 186.372C308.96 188.638 307.846 191.063 306.437 196.042C305.029 201.021 304.141 210.06 304.141 210.06C304.141 210.06 299.4 209.258 289.571 208.437C278.915 207.537 256.812 204.359 250.639 203.905C244.465 203.452 237.086 202.834 230.882 202.576C224.678 202.319 223.012 200.28 224.268 198.559C225.523 196.838 227.599 195.436 227.942 192.043C228.285 188.65 228.726 186.157 229.4 184.277C230.073 182.397 229.4 181.258 228.175 179.69C226.95 178.122 227.238 176.983 225.413 174.374C223.588 171.765 219.472 166.504 219.056 164.11C218.639 161.715 216.392 161.813 214.156 164.159C211.921 166.504 210.763 171.655 205.876 170.834C200.989 170.014 199.409 168.954 199.231 167.313C199.054 165.671 198.723 166.492 197.1 166.553C195.477 166.615 195.771 165.126 194.779 163.442C193.787 161.758 193.554 161.605 193.799 160.943C194.044 160.282 195.244 157.324 193.45 155.193C191.656 153.062 190.045 151.929 189.873 149.467C189.702 147.005 188.134 145.443 185.378 145.229C182.622 145.014 179.315 146.104 177.655 146.282C175.996 146.46 174.936 145.186 171.929 145.186C168.922 145.186 159.399 144.794 155.492 145.62C151.584 146.447 151.462 146.845 151.621 144.757C151.78 142.669 150.641 138.7 147.554 133.421C144.468 128.142 142.514 127.401 140.597 126.617C138.68 125.833 138.252 125.955 137.896 124.075C137.541 122.195 134.889 120.756 132.581 119.115C130.272 117.473 125.666 114.944 123.357 111.998C121.049 109.052 118.629 107.858 118.899 107.307C119.168 106.756 123.798 106.211 124.215 100.974C124.435 97.1992 124.252 93.4114 123.67 89.675C123.437 87.4886 123.829 87.8806 125.666 87.2253C127.504 86.57 128.557 85.5411 128.324 83.0424C128.324 83.0975 127.81 78.4981 128.563 77.7755Z" fill="white" stroke="black"/></a>
						<a href="#"><path class="path" d="M83.1697 17.9839C83.2861 18.8046 84.1557 20.9358 85.8767 23.2447C87.5976 25.5535 89.7962 29.6323 90.2678 32.719C90.7394 35.8056 91.2845 38.6412 92.1419 39.6578C92.9993 40.6744 97.6537 44.7226 97.8864 47.2274C98.1191 49.7323 96.2084 61.9258 96.2084 61.9258C100.686 62.2947 105.126 63.0259 109.486 64.1121C115.978 65.7902 121.618 72.3738 124.147 76.5812C124.147 76.5812 126.015 79.1044 126.64 79.4535C127.265 79.8026 127.461 85.1981 126.291 85.786C125.121 86.374 122.886 86.0188 122.5 88.0153C122.114 90.0118 123.357 95.2052 123.321 96.5893C123.284 97.9734 123.633 103.589 120.975 104.759C118.317 105.929 117.417 106.051 117.417 107.38C117.417 108.709 121.049 111.251 122.188 112.733C123.327 114.215 127.577 117.7 127.577 117.7C127.577 117.7 124.294 120.082 123.902 122.55C123.511 125.018 123.707 126.733 120.84 127.358C117.974 127.982 114.9 130.873 112.713 132.257C110.527 133.641 107.085 132.527 103.019 137.726C98.952 142.926 98.5601 145.118 97.4638 148.554C96.3676 151.99 94.2241 153.674 91.4866 155.291C88.749 156.908 86.7586 159.792 85.6195 162.328C84.4803 164.863 82.9248 166.161 80.72 167.49C78.5153 168.819 77.2414 171.906 71.5764 176.989C65.9115 182.072 61.061 188.521 60.9385 191.534C60.8161 194.548 60.7854 195.674 59.0278 197.744C57.2701 199.814 56.3698 203.024 56.0574 204.512C55.7179 205.685 55.1994 206.798 54.5202 207.813C54.5202 207.813 49.3207 202.809 47.3242 201.48C45.3277 200.151 43.0372 201.125 41.1999 197.414C39.3626 193.702 38.8176 187.952 37.213 185.606C35.6084 183.26 35.2226 183.028 36.2392 178.453C37.2559 173.878 37.9173 160.196 36.5516 157.11C35.1858 154.023 30.268 154.256 29.6556 151.953C29.0432 149.65 30.0843 143.508 29.2636 142.84C28.443 142.172 26.373 141.615 24.6153 138.62C22.8576 135.626 21.9941 134.909 21.0938 134.75C20.1936 134.591 20.1568 133.813 20.8182 132.68C21.4797 131.547 20.0404 129.826 18.2828 128.926C16.5251 128.025 8.22054 122.593 5.65445 116.781C3.08837 110.969 3.11286 106.578 3.50482 103.84C3.89677 101.103 4.44183 101.654 5.29923 101.538C6.15664 101.421 5.49523 99.088 4.36224 97.3916C3.22924 95.6952 1 93.2516 1 92.2717C1 91.2918 4.47859 88.64 5.80756 86.6067C7.13654 84.5734 10.4988 81.6031 11.0867 81.1316C11.6746 80.66 14.6817 81.2112 15.4656 81.6399C16.2495 82.0686 22.3432 79.9986 23.4762 78.5777C24.6092 77.1569 26.2138 77.9653 28.5226 76.4281C30.8315 74.8909 33.0178 73.2986 34.7388 63.218C36.4597 53.1374 33.0974 50.6264 32.8586 47.503C32.6197 44.3796 35.3083 43.706 35.0511 41.7156C34.7939 39.7252 34.9715 37.8817 36.3801 37.9246C37.7887 37.9675 38.7624 35.775 37.3538 34.6787C35.9453 33.5825 36.3801 30.2999 36.3801 30.2999C37.3103 30.3995 38.2062 30.7072 39.0013 31.2001C40.171 31.9841 41.5367 30.6918 43.6496 32.425C45.7625 34.1582 49.4371 33.5212 50.3374 32.621C51.2376 31.7207 54.5203 31.3287 54.2814 31.9167C54.0426 32.5046 52.1747 33.3988 52.5238 33.9071C52.8728 34.4154 56.5903 35.0033 56.7434 34.0234C56.8965 33.0436 55.2981 31.4451 56.1983 31.2491C57.0986 31.0532 61.6306 31.3288 64.6009 29.5711C67.5711 27.8134 68.7838 25.1922 71.7969 22.179C74.8101 19.1659 79.6911 15.3811 80.4322 14.5175C81.1732 13.654 82.5083 14.1317 82.5083 14.1317L83.1697 17.9839Z" fill="white" stroke="black"/></a>
						<a href="#"><path class="path" d="M128.906 118.41C128.906 118.41 125.685 120.511 125.47 123.414C125.311 125.484 125.158 127.75 122.5 128.534C119.842 129.318 118.629 128.809 116.321 131.547C114.012 134.284 108.359 134.401 106.001 136.82C103.643 139.239 99.589 144.445 98.8602 147.96C98.1314 151.475 98.0824 153.319 94.2853 155.86C90.4883 158.402 88.6203 159.455 87.0954 163.093C85.5704 166.731 81.6202 168.721 80.3586 169.775C79.097 170.828 75.4592 175.446 72.5012 178.532C69.5431 181.619 63.0391 188.619 62.69 192.11C62.3409 195.601 60.8895 197.934 59.1686 200.072C57.4476 202.209 57.4905 207.188 56.3575 208.033C55.2245 208.878 55.1326 209.209 55.1326 209.209C55.1326 209.209 58.648 211.659 59.9402 213.974C61.2325 216.289 62.2858 218.941 61.7346 219.682C61.1835 220.423 60.7609 221.482 61.7346 221.911C62.7084 222.34 62.0899 225.622 68.9674 226.523C75.845 227.423 77.2965 226.914 87.9528 231.569C98.6091 236.223 99.9442 241.784 101.922 244.779C103.9 247.774 113.73 252.637 117.166 251.816C120.601 250.995 122.641 252.637 123.774 255.062C124.907 257.487 126.119 258.816 127.369 258.736C128.618 258.657 131.399 261.358 133.236 261.186C135.073 261.015 137.456 260.169 137.419 260.831C137.382 261.492 136.249 262.552 137.419 262.827C138.589 263.103 138.711 266.343 139.868 265.834C141.026 265.326 143.31 263.385 147.377 264.426C151.443 265.467 155.467 268.713 158.829 268.964C162.192 269.215 165.983 271.114 168.444 272.908C170.906 274.702 173.411 277.017 174.857 276.466C175.46 276.163 176.128 276.013 176.803 276.028C177.477 276.043 178.138 276.223 178.727 276.552C180.368 277.287 185.256 277.679 186.738 276.779C188.22 275.878 190.063 275.829 193.034 277.299C196.004 278.769 197.449 280.729 199.77 281.549C202.091 282.37 204.057 285.108 205.944 284.912C206.777 284.756 207.57 284.433 208.275 283.963C208.981 283.492 209.583 282.884 210.047 282.174C210.365 281.47 218.26 282.174 219.705 283.583C221.15 284.991 223.539 286.161 226.858 284.128C230.177 282.094 232.058 282.333 232.915 282.762C233.772 283.191 235.42 282.799 237.961 279.908C240.503 277.017 247.497 276.509 250.002 277.562C252.507 278.616 257.504 279.283 261.105 276.95C264.706 274.617 265.288 275.156 268.607 275.229C271.927 275.303 275.852 274.421 277.077 273.171C278.302 271.922 282.981 271.946 285.21 271.946C287.44 271.946 288.377 273.043 293.025 268.823C297.673 264.603 297.312 266.477 299.866 263.544C302.42 260.61 305.574 258.693 305.421 255.527C305.268 252.361 303.736 249.746 303.583 246.384C303.43 243.021 303.773 233.051 302.444 227.894C301.115 222.738 304.092 222.07 303.62 219.798C303.149 217.526 302.799 211.567 302.799 211.567C302.799 211.567 293.221 209.999 283.33 209.117C273.44 208.235 241.544 204.218 233.687 204.31C225.829 204.402 219.184 202.632 223.092 197.469C226.999 192.306 225.474 191.761 225.866 189.379C226.258 186.996 229.191 182.93 227.746 181.754C226.301 180.578 225.162 178.784 223.055 174.876C220.948 170.969 218.872 167.723 218.155 165.769C217.439 163.816 217.255 163.069 214.597 166.59C211.939 170.112 211.198 172.371 206.507 172.714C201.816 173.057 198.019 168.648 198.019 168.648C198.019 168.648 195.569 169.432 194.228 166.535C192.887 163.638 191.686 162.395 192.433 159.798C193.181 157.202 191.882 156.356 189.659 153.852C187.436 151.347 189.341 149.124 186.597 147.366C183.853 145.608 181.753 147.519 178.274 147.795C174.795 148.07 173.852 146.778 165.297 146.858C156.741 146.937 153.048 147.991 151.731 148.536C151.096 148.828 150.425 149.034 149.735 149.148C149.735 149.148 150.476 143.679 149.073 140.574C147.671 137.469 145.711 132.441 140.628 129.042C135.545 125.643 136.561 126.035 136.341 124.822C136.12 123.61 135.728 123.414 133.836 122.281C132.103 121.11 130.455 119.816 128.906 118.41Z" fill="white" stroke="black" stroke-miterlimit="10"/></a>
						<path d="M132.269 45.7662V37.3662H133.553L138.821 43.8342H138.185V37.3662H139.733V45.7662H138.449L133.181 39.2982H133.817V45.7662H132.269ZM145.92 45.8862C145.264 45.8862 144.66 45.7782 144.108 45.5622C143.556 45.3462 143.076 45.0462 142.668 44.6622C142.26 44.2702 141.944 43.8142 141.72 43.2942C141.496 42.7662 141.384 42.1902 141.384 41.5662C141.384 40.9422 141.496 40.3702 141.72 39.8502C141.944 39.3222 142.26 38.8662 142.668 38.4822C143.076 38.0902 143.556 37.7862 144.108 37.5702C144.66 37.3542 145.26 37.2462 145.908 37.2462C146.564 37.2462 147.164 37.3542 147.708 37.5702C148.26 37.7862 148.74 38.0902 149.148 38.4822C149.556 38.8662 149.872 39.3222 150.096 39.8502C150.32 40.3702 150.432 40.9422 150.432 41.5662C150.432 42.1902 150.32 42.7662 150.096 43.2942C149.872 43.8222 149.556 44.2782 149.148 44.6622C148.74 45.0462 148.26 45.3462 147.708 45.5622C147.164 45.7782 146.568 45.8862 145.92 45.8862ZM145.908 44.5182C146.332 44.5182 146.724 44.4462 147.084 44.3022C147.444 44.1582 147.756 43.9542 148.02 43.6902C148.284 43.4182 148.488 43.1062 148.632 42.7542C148.784 42.3942 148.86 41.9982 148.86 41.5662C148.86 41.1342 148.784 40.7422 148.632 40.3902C148.488 40.0302 148.284 39.7182 148.02 39.4542C147.756 39.1822 147.444 38.9742 147.084 38.8302C146.724 38.6862 146.332 38.6142 145.908 38.6142C145.484 38.6142 145.092 38.6862 144.732 38.8302C144.38 38.9742 144.068 39.1822 143.796 39.4542C143.532 39.7182 143.324 40.0302 143.172 40.3902C143.028 40.7422 142.956 41.1342 142.956 41.5662C142.956 41.9902 143.028 42.3822 143.172 42.7422C143.324 43.1022 143.532 43.4182 143.796 43.6902C144.06 43.9542 144.372 44.1582 144.732 44.3022C145.092 44.4462 145.484 44.5182 145.908 44.5182ZM152.086 45.7662V37.3662H155.542C156.286 37.3662 156.922 37.4862 157.45 37.7262C157.986 37.9662 158.398 38.3102 158.686 38.7582C158.974 39.2062 159.118 39.7382 159.118 40.3542C159.118 40.9702 158.974 41.5022 158.686 41.9502C158.398 42.3902 157.986 42.7302 157.45 42.9702C156.922 43.2022 156.286 43.3182 155.542 43.3182H152.95L153.646 42.6102V45.7662H152.086ZM157.582 45.7662L155.458 42.7182H157.126L159.262 45.7662H157.582ZM153.646 42.7782L152.95 42.0342H155.47C156.158 42.0342 156.674 41.8862 157.018 41.5902C157.37 41.2942 157.546 40.8822 157.546 40.3542C157.546 39.8182 157.37 39.4062 157.018 39.1182C156.674 38.8302 156.158 38.6862 155.47 38.6862H152.95L153.646 37.9182V42.7782ZM160.863 45.7662V37.3662H164.535C165.447 37.3662 166.247 37.5422 166.935 37.8942C167.623 38.2462 168.159 38.7342 168.543 39.3582C168.927 39.9822 169.119 40.7182 169.119 41.5662C169.119 42.4062 168.927 43.1422 168.543 43.7742C168.159 44.3982 167.623 44.8862 166.935 45.2382C166.247 45.5902 165.447 45.7662 164.535 45.7662H160.863ZM162.423 44.4462H164.463C165.095 44.4462 165.639 44.3262 166.095 44.0862C166.559 43.8462 166.915 43.5102 167.163 43.0782C167.419 42.6462 167.547 42.1422 167.547 41.5662C167.547 40.9822 167.419 40.4782 167.163 40.0542C166.915 39.6222 166.559 39.2862 166.095 39.0462C165.639 38.8062 165.095 38.6862 164.463 38.6862H162.423V44.4462Z" fill="black"/>
						<path d="M212.713 116.8H216.889V118.084H212.713V116.8ZM212.833 120.4H217.573V121.708H211.273V113.308H217.405V114.616H212.833V120.4ZM221.916 121.828C221.26 121.828 220.632 121.736 220.032 121.552C219.432 121.36 218.956 121.116 218.604 120.82L219.144 119.608C219.48 119.872 219.896 120.092 220.392 120.268C220.888 120.444 221.396 120.532 221.916 120.532C222.356 120.532 222.712 120.484 222.984 120.388C223.256 120.292 223.456 120.164 223.584 120.004C223.712 119.836 223.776 119.648 223.776 119.44C223.776 119.184 223.684 118.98 223.5 118.828C223.316 118.668 223.076 118.544 222.78 118.456C222.492 118.36 222.168 118.272 221.808 118.192C221.456 118.112 221.1 118.02 220.74 117.916C220.388 117.804 220.064 117.664 219.768 117.496C219.48 117.32 219.244 117.088 219.06 116.8C218.876 116.512 218.784 116.144 218.784 115.696C218.784 115.24 218.904 114.824 219.144 114.448C219.392 114.064 219.764 113.76 220.26 113.536C220.764 113.304 221.4 113.188 222.168 113.188C222.672 113.188 223.172 113.252 223.668 113.38C224.164 113.508 224.596 113.692 224.964 113.932L224.472 115.144C224.096 114.92 223.708 114.756 223.308 114.652C222.908 114.54 222.524 114.484 222.156 114.484C221.724 114.484 221.372 114.536 221.1 114.64C220.836 114.744 220.64 114.88 220.512 115.048C220.392 115.216 220.332 115.408 220.332 115.624C220.332 115.88 220.42 116.088 220.596 116.248C220.78 116.4 221.016 116.52 221.304 116.608C221.6 116.696 221.928 116.784 222.288 116.872C222.648 116.952 223.004 117.044 223.356 117.148C223.716 117.252 224.04 117.388 224.328 117.556C224.624 117.724 224.86 117.952 225.036 118.24C225.22 118.528 225.312 118.892 225.312 119.332C225.312 119.78 225.188 120.196 224.94 120.58C224.7 120.956 224.328 121.26 223.824 121.492C223.32 121.716 222.684 121.828 221.916 121.828ZM228.446 121.708V114.628H225.662V113.308H232.79V114.628H230.006V121.708H228.446Z" fill="black"/>
						<path d="M156.921 216.754C156.265 216.754 155.637 216.662 155.037 216.478C154.437 216.286 153.961 216.042 153.609 215.746L154.149 214.534C154.485 214.798 154.901 215.018 155.397 215.194C155.893 215.37 156.401 215.458 156.921 215.458C157.361 215.458 157.717 215.41 157.989 215.314C158.261 215.218 158.461 215.09 158.589 214.93C158.717 214.762 158.781 214.574 158.781 214.366C158.781 214.11 158.689 213.906 158.505 213.754C158.321 213.594 158.081 213.47 157.785 213.382C157.497 213.286 157.173 213.198 156.813 213.118C156.461 213.038 156.105 212.946 155.745 212.842C155.393 212.73 155.069 212.59 154.773 212.422C154.485 212.246 154.249 212.014 154.065 211.726C153.881 211.438 153.789 211.07 153.789 210.622C153.789 210.166 153.909 209.75 154.149 209.374C154.397 208.99 154.769 208.686 155.265 208.462C155.769 208.23 156.405 208.114 157.173 208.114C157.677 208.114 158.177 208.178 158.673 208.306C159.169 208.434 159.601 208.618 159.969 208.858L159.477 210.07C159.101 209.846 158.713 209.682 158.313 209.578C157.913 209.466 157.529 209.41 157.161 209.41C156.729 209.41 156.377 209.462 156.105 209.566C155.841 209.67 155.645 209.806 155.517 209.974C155.397 210.142 155.337 210.334 155.337 210.55C155.337 210.806 155.425 211.014 155.601 211.174C155.785 211.326 156.021 211.446 156.309 211.534C156.605 211.622 156.933 211.71 157.293 211.798C157.653 211.878 158.009 211.97 158.361 212.074C158.721 212.178 159.045 212.314 159.333 212.482C159.629 212.65 159.865 212.878 160.041 213.166C160.225 213.454 160.317 213.818 160.317 214.258C160.317 214.706 160.193 215.122 159.945 215.506C159.705 215.882 159.333 216.186 158.829 216.418C158.325 216.642 157.689 216.754 156.921 216.754ZM165.476 216.754C164.324 216.754 163.42 216.43 162.764 215.782C162.116 215.134 161.792 214.198 161.792 212.974V208.234H163.352V212.914C163.352 213.778 163.536 214.406 163.904 214.798C164.28 215.19 164.808 215.386 165.488 215.386C166.168 215.386 166.692 215.19 167.06 214.798C167.428 214.406 167.612 213.778 167.612 212.914V208.234H169.148V212.974C169.148 214.198 168.82 215.134 168.164 215.782C167.516 216.43 166.62 216.754 165.476 216.754ZM171.333 216.634V208.234H175.005C175.917 208.234 176.717 208.41 177.405 208.762C178.093 209.114 178.629 209.602 179.013 210.226C179.397 210.85 179.589 211.586 179.589 212.434C179.589 213.274 179.397 214.01 179.013 214.642C178.629 215.266 178.093 215.754 177.405 216.106C176.717 216.458 175.917 216.634 175.005 216.634H171.333ZM172.893 215.314H174.933C175.565 215.314 176.109 215.194 176.565 214.954C177.029 214.714 177.385 214.378 177.633 213.946C177.889 213.514 178.017 213.01 178.017 212.434C178.017 211.85 177.889 211.346 177.633 210.922C177.385 210.49 177.029 210.154 176.565 209.914C176.109 209.674 175.565 209.554 174.933 209.554H172.893V215.314Z" fill="black"/>
						<path d="M60.2641 110.804C59.6081 110.804 59.0041 110.696 58.4521 110.48C57.9001 110.264 57.4201 109.964 57.0121 109.58C56.6041 109.188 56.2881 108.732 56.0641 108.212C55.8401 107.684 55.7281 107.108 55.7281 106.484C55.7281 105.86 55.8401 105.288 56.0641 104.768C56.2881 104.24 56.6041 103.784 57.0121 103.4C57.4201 103.008 57.9001 102.704 58.4521 102.488C59.0041 102.272 59.6041 102.164 60.2521 102.164C60.9081 102.164 61.5081 102.272 62.0521 102.488C62.6041 102.704 63.0841 103.008 63.4921 103.4C63.9001 103.784 64.2161 104.24 64.4401 104.768C64.6641 105.288 64.7761 105.86 64.7761 106.484C64.7761 107.108 64.6641 107.684 64.4401 108.212C64.2161 108.74 63.9001 109.196 63.4921 109.58C63.0841 109.964 62.6041 110.264 62.0521 110.48C61.5081 110.696 60.9121 110.804 60.2641 110.804ZM60.2521 109.436C60.6761 109.436 61.0681 109.364 61.4281 109.22C61.7881 109.076 62.1001 108.872 62.3641 108.608C62.6281 108.336 62.8321 108.024 62.9761 107.672C63.1281 107.312 63.2041 106.916 63.2041 106.484C63.2041 106.052 63.1281 105.66 62.9761 105.308C62.8321 104.948 62.6281 104.636 62.3641 104.372C62.1001 104.1 61.7881 103.892 61.4281 103.748C61.0681 103.604 60.6761 103.532 60.2521 103.532C59.8281 103.532 59.4361 103.604 59.0761 103.748C58.7241 103.892 58.4121 104.1 58.1401 104.372C57.8761 104.636 57.6681 104.948 57.5161 105.308C57.3721 105.66 57.3001 106.052 57.3001 106.484C57.3001 106.908 57.3721 107.3 57.5161 107.66C57.6681 108.02 57.8761 108.336 58.1401 108.608C58.4041 108.872 58.7161 109.076 59.0761 109.22C59.4361 109.364 59.8281 109.436 60.2521 109.436ZM70.0416 110.804C68.8896 110.804 67.9856 110.48 67.3296 109.832C66.6816 109.184 66.3576 108.248 66.3576 107.024V102.284H67.9176V106.964C67.9176 107.828 68.1016 108.456 68.4696 108.848C68.8456 109.24 69.3736 109.436 70.0536 109.436C70.7336 109.436 71.2576 109.24 71.6256 108.848C71.9936 108.456 72.1776 107.828 72.1776 106.964V102.284H73.7136V107.024C73.7136 108.248 73.3856 109.184 72.7296 109.832C72.0816 110.48 71.1856 110.804 70.0416 110.804ZM77.3384 105.776H81.5144V107.06H77.3384V105.776ZM77.4584 109.376H82.1984V110.684H75.8984V102.284H82.0304V103.592H77.4584V109.376ZM86.5414 110.804C85.8854 110.804 85.2574 110.712 84.6574 110.528C84.0574 110.336 83.5814 110.092 83.2294 109.796L83.7694 108.584C84.1054 108.848 84.5214 109.068 85.0174 109.244C85.5134 109.42 86.0214 109.508 86.5414 109.508C86.9814 109.508 87.3374 109.46 87.6094 109.364C87.8814 109.268 88.0814 109.14 88.2094 108.98C88.3374 108.812 88.4014 108.624 88.4014 108.416C88.4014 108.16 88.3094 107.956 88.1254 107.804C87.9414 107.644 87.7014 107.52 87.4054 107.432C87.1174 107.336 86.7934 107.248 86.4334 107.168C86.0814 107.088 85.7254 106.996 85.3654 106.892C85.0134 106.78 84.6894 106.64 84.3934 106.472C84.1054 106.296 83.8694 106.064 83.6854 105.776C83.5014 105.488 83.4094 105.12 83.4094 104.672C83.4094 104.216 83.5294 103.8 83.7694 103.424C84.0174 103.04 84.3894 102.736 84.8854 102.512C85.3894 102.28 86.0254 102.164 86.7934 102.164C87.2974 102.164 87.7974 102.228 88.2934 102.356C88.7894 102.484 89.2214 102.668 89.5894 102.908L89.0974 104.12C88.7214 103.896 88.3334 103.732 87.9334 103.628C87.5334 103.516 87.1494 103.46 86.7814 103.46C86.3494 103.46 85.9974 103.512 85.7254 103.616C85.4614 103.72 85.2654 103.856 85.1374 104.024C85.0174 104.192 84.9574 104.384 84.9574 104.6C84.9574 104.856 85.0454 105.064 85.2214 105.224C85.4054 105.376 85.6414 105.496 85.9294 105.584C86.2254 105.672 86.5534 105.76 86.9134 105.848C87.2734 105.928 87.6294 106.02 87.9814 106.124C88.3414 106.228 88.6654 106.364 88.9534 106.532C89.2494 106.7 89.4854 106.928 89.6614 107.216C89.8454 107.504 89.9374 107.868 89.9374 108.308C89.9374 108.756 89.8134 109.172 89.5654 109.556C89.3254 109.932 88.9534 110.236 88.4494 110.468C87.9454 110.692 87.3094 110.804 86.5414 110.804ZM93.0711 110.684V103.604H90.2871V102.284H97.4151V103.604H94.6311V110.684H93.0711Z" fill="black"/>
					</svg>

				</div>
			</div>
		</div>
	</div>
	<!-- Section End -->
	<div class="row bg-grey px-4">
		<p class="p-5 fw-500">
			<span class="me-5">&nbsp;</span>Grâce à Troovali.fr passez des annonces gratuites sans commission ! Vous pouvez consulter les meilleures offres de petites annonces de particuliers et de professionnels sur toute La Réunion, que vous soyez à la recherche d'un bien ou d'un service ( annonces immobilières, des voitures d'occasion, des offres d'emploi, des meubles, du matériel électronique ou n'importe quel autre produit d'occasion... ) ! Troovali est fait pour vous !</p>
		</div>
	</div>

	<!-- Footer -->
	<footer class="p-5">
		<div class="row p-4">
			<div class="col-md-3 mb-4">
				<h5>A propos</h5>
				<a href="#">Qui sommess-nous?</a><br>
				<a href="#">Nous rejoindre</a><br>
				<a href="#">Mention Légales</a>
			</div>		
			<div class="col-md-3 mb-4">
				<h5>Informations Légales</h5>
				<a href="#">CGU</a><br>
				<a href="#">Règles de diffusion</a><br>
				<a href="#">Mention Légales</a><br>
				<a href="#">Vie privée / Cookies</a>
			</div>
			<div class="col-md-3 mb-4">
				<h5>Professionnel</h5>
				<a href="#">Publicités</a><br>
				<a href="#">Immobilier</a><br>
				<a href="#">Recrutements</a><br>
			</div>	
			<div class="col-md-3 mb-4">
				<h5>Des questions?</h5>
				<a href="#">Aide</a><br>
				<a href="#">Nous contacter</a><br>
				<i class="fa-solid fa-envelope fa-2x text-red me-1"></i>
				<i class="fa-brands fa-square-whatsapp fa-2x text-red me-1"></i>
			</div>
			<hr class="mt-5">
		</div>
	</footer>
	<div class="copyright">
		
	</div>
	<!-- Footer End -->