.toolbar .toolbar-bar .mes-articles:before{
    -webkit-mask-image: url(https://img.icons8.com/?size=256&id=42271&format=png)!important;
    mask-image: url(https://img.icons8.com/?size=256&id=42271&format=png)!important;
} 
.toolbar .toolbar-bar .mes-commandes:before{
    -webkit-mask-image: url(https://img.icons8.com/?size=100&id=23169&format=png)!important;
    mask-image: url(https://img.icons8.com/?size=100&id=23169&format=png)!important;
} 

.toolbar .toolbar-bar .mes-categories:before{
    -webkit-mask-image: url(https://img.icons8.com/?size=160&id=vxOr7mumH0q9&format=png)!important;
    mask-image: url(https://img.icons8.com/?size=160&id=vxOr7mumH0q9&format=png)!important;
} 
.toolbar .toolbar-bar .stock-unitaire:before{
    -webkit-mask-image: url(https://img.icons8.com/?size=100&id=13705&format=png)!important;
    mask-image: url(https://img.icons8.com/?size=100&id=13705&format=png)!important;
}
.toolbar .toolbar-bar .fournisseurs:before{
    -webkit-mask-image: url( https://img.icons8.com/?size=512&id=3157&format=png)!important;
    mask-image: url( https://img.icons8.com/?size=512&id=3157&format=png)!important;
}
.toolbar .toolbar-bar .stocks:before{
    -webkit-mask-image: url( https://img.icons8.com/?size=96&id=18969&format=png)!important;
    mask-image: url(  https://img.icons8.com/?size=96&id=18969&format=png)!important;
}