
<div class="position-relative" style="background:#F4F9FD;">      
    
    <div class="col-12 col-xl-12 p-3">
    
        <div class="row d-flex justify-content-between my-4 flex-column flex-lg-row">
            <div class="col-12 col-md-4 mb-2">
                <h1>Contenus EXCEL</h1>
            </div>
            <div class="col-12 col-md-8 d-flex flex-wrap justify-content-center justify-content-md-start justify-content-lg-end gap-2">
                <div class="d-flex justify-content-centera align-items-center gap-2 order-2  order-sm-0">
                    <label for="resultCount" class="opacity-50">Afficher</label>
                    <select id="resultCount" class="form-control">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="12">12</option>
                        <option value="25">25</option>
                    </select>
                </div>
                <button class="btn bg-white my-2 order-3 order-sm-1 m-1">
                    <i class="bi bi-funnel"></i>
                </button>
                <button
                    class="btn my-2 btn-primary col-12 col-sm-auto d-flex px-5 rounded-4 justify-content-center align-items-center order-0 order-sm-3 m-1">
                   <i class="bi bi-plus"></i>
                    <p class="mx-2">Ajouter champ</p>
                </button>
            </div>
        </div>
    
        <div class="">
    
            <table id="table" class="table table-bordered rounded text-center" 
                data-toggle="table"
                data-pagination="true" 
                data-page-size="10" 
                data-click-to-select="true" 
                data-show-pagination="true">
                <thead class="thead-dark border bdr">
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="heure" data-sortable="true">Heure Dépôt/ Ramassage</th>
                        <th data-field="hotel" data-sortable="true">Hôtel</th>
                        <th data-field="nom" data-sortable="true">Nom</th>
                        <th data-field="adresse" data-sortable="true">Adresse</th>
                        <th data-field="contact" data-sortable="true">Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="opacity-75">
                        <td></td>
                        <td>7h - 17h</td>
                        <td>Mariott</td>
                        <td>Sophie</td>
                        <td>12 rue des Fleurs</td>
                        <td>0678901234</td>
                    </tr>
                    <tr class="opacity-75">
                        <td></td>
                        <td>7h - 17h</td>
                        <td>Mariott</td>
                        <td>Sophie</td>
                        <td>12 rue des Fleurs</td>
                        <td>0678901234</td>
                    </tr>
                    <tr class="opacity-75">
                        <td></td>
                        <td>7h - 17h</td>
                        <td>Mariott</td>
                        <td>Sophie</td>
                        <td>12 rue des Fleurs</td>
                        <td>0678901234</td>
                    </tr>
                    <tr class="opacity-75">
                        <td></td>
                        <td>7h - 17h</td>
                        <td>Mariott</td>
                        <td>Sophie</td>
                        <td>12 rue des Fleurs</td>
                        <td>0678901234</td>
                    </tr>
                    <tr class="opacity-75">
                        <td></td>
                        <td>7h - 17h</td>
                        <td>Mariott</td>
                        <td>Sophie</td>
                        <td>12 rue des Fleurs</td>
                        <td>0678901234</td>
                    </tr>
                    <tr class="opacity-75">
                        <td></td>
                        <td>7h - 17h</td>
                        <td>Mariott</td>
                        <td>Sophie</td>
                        <td>12 rue des Fleurs</td>
                        <td>0678901234</td>
                    </tr>
                    <tr class="opacity-75">
                        <td></td>
                        <td>7h - 17h</td>
                        <td>Mariott</td>
                        <td>Sophie</td>
                        <td>12 rue des Fleurs</td>
                        <td>0678901234</td>
                    </tr>
                    <tr class="opacity-75">
                        <td></td>
                        <td>7h - 17h</td>
                        <td>Mariott</td>
                        <td>Sophie</td>
                        <td>12 rue des Fleurs</td>
                        <td>0678901234</td>
                    </tr>
                    <tr class="opacity-75">
                        <td></td>
                        <td>7h - 17h</td>
                        <td>Mariott</td>
                        <td>Sophie</td>
                        <td>12 rue des Fleurs</td>
                        <td>0678901234</td>
                    </tr>
                    <tr class="opacity-75">
                        <td></td>
                        <td>7h - 17h</td>
                        <td>Mariott</td>
                        <td>Sophie</td>
                        <td>12 rue des Fleurs</td>
                        <td>0678901234</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    
        <div class="pagiation">
            <div class="d-flex justify-content-between align-items-center rounded-3">
                <button
                    class="btn my-2 btn-primary d-flex justify-content-center align-items-center rounded-4 btn-personal">
                    <p class="m-0 p-0">Commencer la répartition</p>
                </button>
                <button
                    class="btn my-2 btn-primary d-flex rounded-4 justify-content-center align-items-center gap-2">
                    <i class="bi bi-plus-lg"></i>
                    <p class="">Réinsérer</p>
                </button>
            </div>
        </div>
    </div>
</div>