{% set el = paragraph_parser(paragraph) %}
{% set article = node_parser(el.field_article.nid) %}
<div class="row">
  <div class="col-md-4">
    {{ article.title }}
  </div>
  <div class="col-md-4">
    <strong>Prix unitaire: </strong>{{ article.field_prix_unitaire }}
  </div>
  <div class="col-md-4">
    <strong>Quantité: </strong>{{ el.field_quantite }}
  </div>
</div>
